<script>
    $(function(){
        new initSlides({
            adsId : 'Ek6MPRfbl',
            containerId : 'blogRightAds1'
        })
    })
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10 col-md-offset-1 left-frame">
                <article class="post" style="border-bottom: none;">
                    <h2 class="post-title" style="font-size: 28px;padding: 0 0 20px"><%=documentInfo.title%>
                        <%if(documentInfo.from == '2'){%>
                        &nbsp;<span class="badge">转</span>
                        <%}%>
                    </h2>
                    <ul class="post-meta">
                        <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp;<%=documentInfo.author.name%></li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%=myDateFormat(documentInfo.date)%></li>
                        <li> <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;阅读(<%=documentInfo.clickNum%>)</li>
                        <li> <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;功课(<%=documentInfo.commentNum%>)</li>
                    </ul>
                    <div class="post-content"><%- documentInfo.comments%></div>
                </article>
                <% include ../public/msgBoard %>
            </div>
        </div>

    </div>
</div>