<div class="table-responsive" id="courseListWrapper">
<%if(newCourseData.length!=0 ){%>
  <table class="table table-bordered table-condensed">
    <tr>
        <th>日期</th>
        <%newCourseData[0].courses.forEach(function(item){%>
        <th><%=item.contentTagsTitle%><br/>当日数量</th>
        <th><%=item.contentTagsTitle%><br/>累计数量</th>
        <%})%>
        <!--<th>回向文</th>-->
    </tr>
    
    
    <%userCourseListData.forEach(function(items){%>
    <tr>
        <td class=""><%=myDateFormat(items.date)%></td>
        <%items.courses.forEach(function(item){%>
        <td><%=item.todayNum%></td>
        <td><%=item.totalNum%></td>
        <%})%>
        <!--<td class=" "><%=items.contents%></td>-->
    </tr>
    <%})%>
    
  </table>
 <%}%>
</div>
<script>
    /*targetID:全局对应指定记录的标记，在修改和删除时使用*/
<%if(newCourseData.length ==0 ){%>
   
 var local_course1 = localStorage.getItem("course_data");
 console.log(local_course1)
    if(local_course1 == null){
        $("#courseBoardWrapper").hide();
        $("#courseListWrapper").hide();
    }else{
        $("#courseAddWrapper").hide();
    }
<%}else{%>
        $("#courseAddWrapper").hide();
<%}%> 
</script>